<div class="row cart-div">
  <div class="col-md-10">
    <div class="col-md-3 bg-color">
      <img class="cart-image" src={{game.image}}>
    </div>
    <div class="col-md-6 bg-color">
      <span class="cart-title">{{game.title}}</span><br>
      <span class="cart-description">{{game.description}}</span>
    </div>
    <div class="col-md-3 bg-color">
      <span class="cart-price">$ {{game.price}}</span>
    </div>
  </div>
</div>
