{{#each shoppingCart.items as |game|}}
  {{cart-game-tile game=game}}
{{/each}}

<div style="overflow: hidden; white-space: nowrap; text-overflow:ellipsis" class="cart-price cart-total">
  <div style="float: right">{{running-total}}</div>
  Total: $
</div>
