<div class="col-md-3 col-md-offset-1 game-box">
  <div>
    <img class="box-thumb" src={{game.image}}>
  </div>
  <div>
    <span class="box-title">{{game.title}}</span>
  </div>
  <div>
    <span class="box-price">${{game.price}}</span>
  </div>
</div>
