<div class="col-xs-3 col-xs-offset-1 game-box">
  <div class="row">
    <div class="col-xs-12">
      <img class="box-thumb center-block" src={{game.image}}>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <br>
      <span class="box-title">{{game.title}}</span>
    </div>
  </div>
  <div class="row box-price-spacing">
    <div class="col-xs-12">
      <span class="box-price">${{game.price}}</span>
    </div>
  </div>
</div>
