/*Main Page Styling*/
body {
  background-color: #5F697A;

}
span {
  color: #1F2532;
}

.btn-default{
  background-color: #61D079;
}

/*Game Box Styling*/
.game-box {
  background-color: black;
  font-family: monospace;
  margin-bottom: 40px;
}

.box-title {
  color: #35A2DD;
}

.box-price {
  color: #35A2DD;
}
.box-price-spacing {
  margin-bottom: 10px;
}
.box-thumb {
  width:  150px;
  height: 150px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
  margin-top: 10px;
}
/*Game Detail Styling*/
.detail-image {
  max-width: 600px;
}
.detail-title {
  font-family: monospace;
  font-size: 2.5em;
  color: #35A2DD;
}
.detail-headers {
  color: #FF3366;
  font-family: monospace;
  font-size: 3em;
}
.detail-description, .detail-collector-notes {
  font-family: monospace;
  font-size: 1.5em;
}
.detail-price {
  font-family: monospace;
  font-size: 3.2em;
  color: #FF3366;
}
/*Display Cart Styling*/
.cart-image {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cart-div {
  margin-bottom: 30px;
  border: 1px solid #61D079;
  background-color: #2F3542;
}
.cart-title {
  font-family: monospace;
  font-size: 1.5em;
  color: #FF3366;
}
.cart-description {
  font-family: monospace;
  font-size: 1em;
  color: #FF3366;
}
.cart-price {
  font-family: monospace;
  font-size: 1.5em;
  color: #FF3366;
}
.cart-total {
  float: right;
}

/*Header Styling*/
#title {
  color: #61D079;
  font-family: monospace;
}

.navbar-default {
  background-color: #1F2532;
  border: 1px solid #FF3366;
  border-radius: 0;
}

.cart-navbar-price {
  font-family: monospace;
  font-size: 1.5em;
  color: #FF3366;
}
.cart-price-margin {
  margin-top: 30px;
}

#cart-img {
  margin-top: 10px;
  height: 50px;
}

.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}
