<h1 id="title">
  <i class="em em-hocho"><i class="em em-100"></i></i>
  {{#link-to 'index'}}Gamecartcart {{/link-to}}
  <i class="em em-hocho"><i class="em em-100"></i></i>
  {{#link-to 'cart'}}<button class="btn btn-primary" name="cart-btn">Cart</button>{{/link-to}}
</h1>
<div class="container">
  {{outlet}}
</div>
<h1>
  <i class="em em-envelope"><i class="em em-syringe"></i></i>
</h1>
