<div class="col-md-12">
  {{#each model as |game|}}
    {{#link-to 'game-route' game.id}}{{game-data-tile game=game}}{{/link-to}}
  {{/each}}

</div>
<div class="col-md-12">
  {{new-game addNewGame="addNewGame"}}
</div>
